@use '../base/colors' as *;
@use '../base/typography' as *;
@use '../components/buttons' as *;

.contact {
  @include set-colors('inverse');

  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(1024px, 100% - 3rem);
  margin-block: 2rem;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 0.5rem;

  &__title {
    @include font-size('xl');

    width: 100%;
    margin-block: 0.5rem;
  }

  &__button {
    @include button-secondary();

    width: 100%;

    &-unsubscribe {
      @include button-primary();

      width: 100%;
    }
  }

  &__copyright {
    margin-block: 0.5rem;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .contact {

    &__title,
    &__button,
    &__button-unsubscribe {
      width: 60%;
      margin-inline: auto;
    }
  }
}