@use '../base/colors' as *;

@mixin button-common() {
  padding-block: 0.5em;
  padding-inline: 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

@mixin button-primary() {
  @include button-common();
  @include set-colors('primary');
}

@mixin button-secondary() {
  @include button-common();
  @include set-colors('secondary');
}

@mixin button-custom($color) {
  @include button-common();
  @include set-colors($color);
}

@mixin button-square() {
  @include button-common();
  @include set-colors('background');

  padding: 1em;
}