<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Find Resto, best application to finding an best restaurant.">
  <meta name="keywords" content="restaurant, food, resto, makanan, kuliner, restaurant apps">
  <meta name="author" content="Rizky Ardiansyah">
  <meta name="theme-color" content="#1f2b47">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="./favicon.svg" type="image/svg">
  <link rel="manifest" href="./app.webmanifest">

  <title>Best restaurant finder</title>
</head>

<body>
  <button class="skip-link">Skip to content</button>
  <header>
    <nav-bar></nav-bar>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <contact-subscribe></contact-subscribe>
  </footer>
</body>

</html>