@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Abril Fatface';
  src: url('/src/public/fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/src/public/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

@mixin font-size($value) {

  @each $name,
  $size,
  $line-height in $font-sizes {
    @if $name ==$value {
      font-size: $size;
      line-height: $line-height;
    }
  }
}

@mixin font-sans($value) {

  @each $name,
  $font,
  $alt-font in $font-sans-family {
    @if $name ==$value {
      font-family: $font, $alt-font;
    }
  }
}